<div class="jumbotron">
    <h1 class="title"><img src='<%= image_url 'monkey-head.png' %>' >小悟空Offer</h1>
    <p class="slogan">最短时间提供理想的应聘机会。</p>
    <p class="slogan">
    <br/>
      <img src='<%= image_url 'monkey-head.png' %>' >当天将您的申请提交给心仪的企业
    <br/><br/>
     <i class="fa fa-eye"></i>一周内回复初审结果及面试邮件。
    <br/><br/>
     <i class="fa fa-eye"></i>您可以自由接受或拒绝面试邀请。
     <br/>
     <a class="navbar-brand" href="/">快来加入</a>
    <br/><br/><br/>
     只要有一技之长，或者想努力成长，在这里就能找到成为winner的机会。驾上筋斗云加入我们吧！
   </p>
</div>


  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>江苏苏州高新区</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>ksalsqzhbl@google.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
