
         <body>

    <div class="jumbotron1">
      <br>
      <br>
      <br>
      <br>      <br>
            <br>      <br>
                  <br>
      <div class="container page-wrap">
          	<div class="row">
      			<div class="col-md-6 col-md-offset-3">
      				<div class="panel panel-login">
      					<div class="panel-heading">
      						<div class="row">
      							<div style="text-align:center" class="col-xs-12">
      								<h2>欢迎来到小悟空</h2>
                     <hr>
                    </div>
      						</div>

      					</div>
      					<div class="panel-body">
      						<div class="row">
      							<div class="col-lg-12">
                      <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="OfSwuzyo7HrgKSt12ZijWZw3rhpJrMH8Vl5bt5A0rOujv0Bg8GpbJFiiU0ePhLT5T2ZX0qERj0l1P0MRwuK4+g==" />
                      <div class="form-inputs">
          <!-- <div class="form-inputs"> -->
            <div class="form-group email optional user_email"><label class="control-label email optional" for="user_email">邮箱</label><input class="form-control string email optional string email optional form-control" autofocus="autofocus" placeholder="请输入您的邮箱" type="email" value="" name="user[email]" id="user_email" /></div>

          <!-- </div> -->
        </div>
        <div class="form-inputs">
            <div class="form-group password optional user_password"><label class="control-label password optional" for="user_password">密码</label><input class="form-control password optional form-group password optional user_password" placeholder="请输入您的密码" type="password" name="user[password]" id="user_password" /></div>
        </div>
      									<div class="form-group text-center">
                          <div class="form-group boolean optional user_remember_me"><div class="checkbox"><input value="0" type="hidden" name="user[remember_me]" /><label class="boolean optional" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />Remember me</label></div></div>
      									</div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-sm-6 col-sm-offset-3">
                               <div class="form-actions">
                                 <input type="submit" name="login-submit" value="登录" id="login-submit" tabindex="4" class="btn btn-default form-control btn btn-login" data-disable-with="Login" />
                               </div>
      											</div>
      										</div>
      									</div>
      									<div class="form-group">
      										<div class="row">
      											<div class="col-lg-12">
      												<div class="text-center">

  <a href="/users/sign_up">Sign up</a><br />

  <a href="/users/password/new">Forgot your password?</a><br />




      												</div>
      											</div>
      										</div>
      									</div>
</form>      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>

<br>
<br>
<br>
<br>
<br>      <br>
      <br>
      <br>
      <br>    <br>




</div>
